<header>
  <button [routerLink]="'/'" class="home">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>
  <input
    type="text"
    placeholder="Search keyword..."
    [(ngModel)]="search"
    (keyup.enter)="handleSubmit()"
  />
  <menu>
    <button *ngIf="isAuthenticated" class="favorite" [routerLink]="'/favorite'">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >favorite</mat-icon
      ><span>{{ favoritesAmount > 0 ? favoritesAmount : '' }}</span>
    </button>
    <button (click)="isAuthenticated ? handleLogout() : handleLogin()">
      {{ isAuthenticated ? 'Logout' : 'Login' }}
    </button>
  </menu>
</header>
