header {
  display: flex;
  text-align: center;
  background-color: #232d39;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 30px;
  border-width: 0px;
  width: 100%;
  outline: none;
  color: #bbcdee;
  background-color: #232d39;
  padding: 10px 0;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
  overflow-x: hidden;
  text-align: center;
  caret-color: #566585;
}

input::placeholder {
  font-size: 30px;
  color: #0b0f14;
}

menu {
  position: absolute;
  display: flex;
  right: 0;
}

header button {
  height: 54px;
  width: 100px;
  color: #677e9a;
  background-color: #232d39;
  border: none;
  border-left: 1px solid black;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2px;
  outline: none;
  cursor: pointer;
  padding: 0 30px;
}

header button:hover {
  color: #52647a;
  background-color: #1f2831;
}

header button:active,
header button:active span {
  transform: scale(0.98);
}

header .favorite {
  font-size: 35px;
}

.favorite span {
  position: absolute;
  font-size: 12px;
  color: rgb(105, 180, 182);
}

header .favorite:hover span {
  color: rgb(86, 148, 150);
}

header button.home {
  border-right: 1px solid black;
}
