.card-ditails {
  margin: 0 auto;
  margin-top: 49px;
  width: 800px;
  padding: 10px 30px;
  color: #8ccff1bd;
  background-color: #303d56be;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-size: 28px;
  letter-spacing: 1px;
  color: #61efff;
  text-shadow: #61efff 0px 0px 2px;
  text-align: center;
  padding-bottom: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

img {
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.description {
  padding: 0 20px;
}

.favorite {
  color: #202731;
  font-size: 34px;
  cursor: pointer;
}

.favorite:hover {
  color: #171d25;
}

.in-favorite {
  color: #bf5050;
  text-shadow: 0 0 5px;
}

.in-favorite:hover {
  color: #833a3a;
}
