<div class="card-ditails">
  <div class="row">
    <h1>{{ cardDetails?.title }}</h1>
    <mat-icon
      (click)="toggleFavorite()"
      *ngIf="isAuthenticated"
      class="favorite"
      [ngClass]="{ 'favorite in-favorite': isInFavorite, favorite: true }"
      aria-hidden="false"
      aria-label="Example home icon"
      >favorite</mat-icon
    >
  </div>
  <div class="row">
    <img [src]="cardDetails?.image" />
    <div class="description">
      {{ cardDetails?.description }}
    </div>
  </div>
</div>
