/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom,
    #181c23,
    #1c222a,
    #202732,
    #232d39,
    #273341
  );
}

a {
  color: #333;
  text-decoration: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #2d2d2d inset !important;
  -webkit-text-stroke-color: #e7e8eb !important;
  -webkit-text-fill-color: rgba(0, 255, 255, 0.623) !important;
}
