@keyframes showIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  display: flex;
}

.wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: #0000008a;
  animation: showIn 0.5s ease-in forwards;
}

form {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  margin: 20px;
}

form input {
  width: 250px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(112, 217, 231);
  caret-color: rgb(16, 231, 247);
  color: aqua;
}

form input::placeholder {
  font-size: 14px;
}

form button {
  width: 100px;
  height: 40px;
  border-radius: 1px;
  font-size: 20px;
  letter-spacing: 1px;
  color: aquamarine;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
